(load-test :threads 20 :runs 30
 (let [urls ["http://www.yodle.com/success-stories"
             "http://www.yodle.com/marketing-essentials"
             "http://www.yodle.com/brand-networks"]]
   (GET (->> (count urls)
             (mod *run-number*)
             (nth urls)))))
