(load-test {:threads 10 :runs 20}
           (GET "http://www.yodle.com/success-stories")
           (GET "http://www.yodle.com/marketing-essentials")
           (GET "http://www.yodle.com/brand-networks"))
